<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1027610797411-4sau8kbl47v7glc8b7mg69goj5ikshk2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1027610797411-4sau8kbl47v7glc8b7mg69goj5ikshk2</string>
	<key>API_KEY</key>
	<string>AIzaSyAuEQQhXpID3asGk1ZNWaD_O_T1AJvYnrU</string>
	<key>GCM_SENDER_ID</key>
	<string>1027610797411</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fanpageapp</string>
	<key>PROJECT_ID</key>
	<string>fanpageapp-2b729</string>
	<key>STORAGE_BUCKET</key>
	<string>fanpageapp-2b729.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1027610797411:ios:fb42ded93823f8c3859f56</string>
</dict>
</plist>